POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB={{ project_slug }}
POSTGRES_USER={{ project_slug }}
POSTGRES_PASSWORD={{ project_slug }}
{% if use_redis %}
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
{% endif %}
CORS_ORIGINS=["*"]
CORS_CREDENTIALS=true
CORS_METHODS=["*"]
CORS_HEADERS=["*"]

RUN_MODE=dev
DOCS_USERNAME=admin
DOCS_PASSWORD=change_me
